.App {
  text-align: center;
}

.logo {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  font-family: 'Raleway', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
} /* This disables horizontal scrolling */

/*main page*/


body {
  height: 100vh;
  background-color: #FFDEE9;
  background-image: linear-gradient(315deg, #FFDEE9 0%, #B5FFFC 60%);

}

/*employee list*/
.employee-list-item {
  padding-top: 20px;
}

/*clientlist*/
.client-name {
  margin-top: 40px;
}

/*all labels*/
.input-field label {
  color: #000;
}

.input-field input[type=text]:focus + label {
  color: #c62828;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #c62828;
  box-shadow: 0 1px 0 0 #c62828;
}

.input-field input[type=number]:focus + label {
  color: #c62828;
}

.input-field input[type=number]:focus {
  border-bottom: 1px solid #c62828;
  box-shadow: 0 1px 0 0 #c62828;
}

.input-field input[type=date]:focus {
  border-bottom: 1px solid #c62828;
  box-shadow: 0 1px 0 0 #c62828;
}

.input-field input[type=date]:focus + label {
  color: #c62828;
}


/*datepicker*/
.picker__date-display {
  background-color: #00b0ff;
}
.picker__weekday-display {
  background-color: #0091ea;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #00b0ff;
}
/* Buttons of actions */
.picker__nav--prev:hover { background-color: #fff3e0; }
.picker__nav--next:hover { background-color: #fff3e0; }
.picker__nav--prev:before {
  border-left: 0;
  border-right: 0.75em solid #0091ea;
}
.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #0091ea;
}
.picker__today { color: #00b0ff; }
.picker__clear { /* If you want to customize */ }
.picker__close { color: #00b0ff; }
