.App {
  text-align: center;
}

.logo {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*main page*/
body {
  background-color: #eeeeee;
}

/*employee list*/
.employee-box {
  height: 100px;
}

.employee-list-item {
  padding-top: 20px;
}

/*clientlist*/
.client-box {
  height: 100px;
}

.client-name {
  margin-top: 40px;
}

/*all labels*/
.input-field label {
  color: #000;
}

.input-field input[type=text]:focus + label {
  color: #00b0ff;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #00b0ff;
  box-shadow: 0 1px 0 0 #00b0ff;
}

.input-field input[type=number]:focus + label {
  color: #00b0ff;
}

.input-field input[type=number]:focus {
  border-bottom: 1px solid #00b0ff;
  box-shadow: 0 1px 0 0 #00b0ff;
}
